/* TableSort.module.css */

/* Base table styles */
.table-container {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scroll on small screens */
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
}

.th, .td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tr {
  background-color: #f9f9f9;
  cursor: pointer;
}

.th {
  background-color: #f3c565;
  cursor: pointer;
}

.tr:hover {
  background-color: #f3c565 !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .th, .td {
    padding: 8px 10px;
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .th, .td {
    padding: 5px;
    font-size: 0.8rem;
  }

  /* Makes table scrollable */
  .table-container {
    overflow-x: scroll;
  }
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}
